/* css chung của female.php, male.php, login.php, search.php, bag.php */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: #545540;

    height: 100vh;
}

main {
    flex: 1;
}

header nav {
    color: inherit;
    background: #ffffff;
    border-bottom: 1px solid #545540;
}

header nav svg {
    fill: #545540;
}

header .dropdown-content {
    border: 1px solid #545540;
}